<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Untitled 4</title>
    <link rel="stylesheet" href="/static/menu.css">
  </head>
  <body>
    <a href="/menu">Menu</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
    <a href="/form/food/add">Add Food</a>
    <a href="/form/food/edit">Edit Food</a>
    <a href="/form/food/delete">Delete Food</a>
    <img class="banner" src="https://toasttab.s3.amazonaws.com/restaurants/restaurant-69519000000000000/banner_1617822031.jpg">
    <h1>HOMESTUFF:</h1>
    <div class="menu_items">    
        {% for item in media_items %}
        <h2>title = {{ item["title"] }}</h2>
        <p>type = {{ item["type"] }} </p>
        <p>genre = {{ item["genre"] }} </p>
        <p>summary = {{ item["summary"] }} </p>
        <img class="media_img" src='{{ item["image"] }}'>
      {% endfor %}
    </div>
</body>
</html>

