{% extends 'base.html' %} 
 
{% block content %}
<h2>Viewing {{ username }}'s Library</h2>
 
<div class="row">
    {% for item in media_items %}
    <div class="card w-25 p-2">
        <img class="card-img-top" src="{{ item['image'] }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ item["title"] }}</h5>
            <p class="card-text">{{ item["summary"] }}</p>
            <p>ID: {{ item["id"] }}</p>
            <p>Type: {{ item["type"] }} </p>
            <p>Genre: {{ item["genre"] }} </p>
            <a href="#" class="btn btn-primary">Edit</a> <a href="#" class="btn btn-primary">Delete</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}